
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    line-height: 1.6;
    background-color: #f8f8f8; 
    color: #333; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo-primario);
    color: var(--cor-texto-primario);
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

:root {
    --cor-fundo-primario: #ffffff;
    --cor-fundo-secundario: #f3f3f3; 
    --cor-texto-primario: #333333; 
    --cor-acento: #ec6a96; 
    --cor-borda: #dddddd;
    --cor-menu-fundo: #ffffff; 
}

.header {
    max-width: 100%; 
    width: 100%;
    margin: 0 auto; 
    border-top: 1px solid var(--cor-borda);
    padding-top: 10px;        
    text-align: center;
    font-size: 16px;
    background-color: var(--cor-menu-fundo);
}

.card-projeto {
    background-color: var(--cor-fundo-secundario);
    border: 1px solid var(--cor-borda);
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0 20px; 
}

.cabecalho {
    background-color: var(--cor-fundo-primario);
    padding: 10px 0;
    
    border-bottom: 1px solid var(--cor-borda);
    padding-bottom: 10px;
    align-items: center; 
    flex-direction: column; 

}

.cabecalho .container {
    width: 100%; 
    max-width: 760px;
    margin: 0 auto;
}

.logo h1 {
    margin: 0; 
    width: auto; 
    font-size: 24px; 
    font-weight: 700;
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo {
    max-width: 760px;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 0 auto; /* centralizar */
}

.logo img { 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.titulo {
    flex-grow: 1;
    text-align: center; 
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.titulo h1 {
    margin: 0; 
    font-size: 1.5em; 
}

.menu-navegacao {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    font-size: 16px;
    background-color: var(--cor-menu-fundo);
}

.menu-navegacao ul {
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menu-navegacao li {
    margin-left: 20px;
    text-align: center;   
}

.menu-navegacao a {
    text-decoration: none; 
    color: #555;
    font-weight: 500;
    transition: color 0.3s;
}

.menu-navegacao a:hover {
    border-bottom-color: var(--cor-acento);
    color: var(--cor-acento);
}

.nome-principal {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.nome-principal .profissao {
    font-size: 21px;
    color: #7e7a7c;
    margin-top: 5px;
    margin-left: 3px;
}

a {
    color: var(--cor-texto-primario);
}

/* cores do Dark Mode */

.dark-mode {
    --cor-fundo-primario: #121212; 
    --cor-fundo-secundario: #1e1e1e; 
    --cor-texto-primario: #ffffff; 
    --cor-borda: #444444;
    --cor-menu-fundo: #121212;
}

.dark-mode-toggle {
    position: absolute;
    right: 60px; 
    top: 25px;
    background: none;
    border: none;
    color: var(--cor-texto-primario);
    cursor: pointer;
    font-size: 1.2em;
}


.habilidades-container {
    position: relative; 
    max-width: 1200px; 
    margin: 50px auto;
    text-align: center;
    min-height: 500px; 
}

/*  estilo da tag*/

.tag {
    position: absolute; 
    background-color: var(--cor-acento); 
    color: var(--cor-fundo-primario);
    padding: 9px 18px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: default;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: floating 6s ease-in-out infinite alternate;
}

@keyframes floating {
    0% {

        transform: translate(0px, 0px); 
    }
    100% {

        transform: translate(5px, -15px); 
    }
}

.tag-react {
    top: 20px;
    left: -25%;
}

.tag-html {
    top: 300px; 
    left: 5%; 
    animation-delay: 0.5s;
}

.tag-javascript {
    top: 200px;
    left: -25%;
    animation-delay: 0.5s;
}

.tag-github {
    top: -10px;
    left: 8%;
    animation-delay: 2s; 
}

.tag-git {
    top: 10px; 
    left: 40%;
    animation-delay: 1s;
}

.tag-bootstrap {
    top: 90px;
    left: -5%;
    animation-delay: 4s;
}

.tag-css {
    top: 150px; 
    left: 18%;
    animation-delay: 2s; 
}

.tag-python {
    top: 10px; 
    right: 5%; 
    animation-delay: 2s;
}

.tag-java {
    top: 150px; 
    right: 10%;
    animation-delay: 2s;
}

.tag-c {
    bottom: 120px; 
    right: 18%; 
    animation-delay: 1.5s;
}

.tag-flask {
    top: 50px; 
    right: -20%; 
    animation-delay: 4s;
}


.tag-springboot {
    top: 160px; 
    right: -20%; 
    animation-delay: 3s;
}

.tag-mysql {
    top: 280px; 
    right: -10%; 
    animation-delay: 2s;
}

.habilidades-container img { 
    max-width: 60%; 
    height: auto; 

    display: block; 
    margin: 0 auto; 
    margin-top: 80px;
}








.segunda-parte {
    display: flex; 
    align-items: center; 
    gap: 40px; 
    padding: 50px 0;
}

.coluna-texto {
    flex: 1; 
}

.coluna-imagem {
    flex: 1.5; 
}

.imagem-mockup {
    max-width: 100%; 
    height: auto;
    display: block;
}

.projetos-diferenciais {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; /* o espaço entre as colunas dos projetos */
    max-width: 1000px;
    margin: 30px auto; 
    padding: 0;
}

.diferenciais-item {
    text-align: left;
}

.diferenciais-item img {

    max-width: 100%; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.diferenciais-item h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.galeria-projetos {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.post {
    display: flex; 
    gap: 40px; 
    max-width: 800px; 
    margin: 50px auto; 
    padding: 0 20px;
    border-top: 1px solid var(--cor-borda); /* linha de separação */
    display: flex; 
    gap: 40px;
}

.lista-posts {
    flex: 2; 
}

.newsletter {
    flex: 1; 
    background-color: var(--cor-fundo-secundario); 
    padding: 20px;
    border-radius: 8px;
}

.rodape {
    background-color: var(--cor-fundo-secundario); 
    color: var(--cor-texto-primario);
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid var(--cor-borda);
}

.container-rodape {
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 0.9em;
}

.links-sociais a {
    color: var(--cor-texto-primario); 
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 767px) {
    /* MOBILE */
    .logo {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        padding: 15px 20px;
    }
    
    .logo img {
        margin-right: 10px; 
        height: 30px;
    }
    
    .titulo {
        position: static; 
        transform: none; 
        display: flex;
        font-size:14px;
    }
    
    .logo h1 {
        font-size: 1.2em; 
        white-space: nowrap; /* evitar que o nome quebre em duas linhas */
    }

    .header { /* remover linha entre titulo e menu */
        border-top: none;
    }

    .menu-navegacao {
        background-color: var(--cor-menu-fundo); 
        transition: background-color 0.3s; 
       
        display: flex;
        background-color: var(--cor-menu-fundo);
    }

    .menu-navegacao a {
        color: var(--cor-texto-primario);
    }

    .menu-navegacao ul {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        white-space: nowrap; 
    }

    .menu-navegacao li {
        flex-shrink: 0;
        margin-left: 20px;
    }

    .dark-mode .menu-navegacao {
        background-color: var(--cor-menu-fundo); 
    }
    
    .dark-mode .menu-navegacao a {
        color: var(--cor-texto-primario);
    }

    .segunda-parte {
        flex-direction: column; 
        text-align: center;
        gap: 30px; 
    }
    
    .coluna-imagem {
        width: 100%;
        flex: none;
    }

    .coluna-texto {
        width: 100%; 
        text-align: left; 
    }
    
    .coluna-imagem img {
        max-width: 80%; 
    }

    .projetos-diferenciais {
        grid-template-columns: 1fr 1fr; 
    }

    .post {
        flex-direction: column; 
        gap: 30px; 
        margin: 30px auto;
    }
    
    .lista-posts,
    .newsletter {
        width: 100%; 
        flex: none; 
    }
    
    .newsletter {
        padding: 20px;
    }
    
    .newsletter form {
        display: flex;
        flex-direction: column; 
        gap: 10px;
    }

    .newsletter form input[type="email"],
    .newsletter form button[type="submit"] {
        width: 100%;
        box-sizing: border-box; 
    }

    .container-rodape {
        flex-direction: column; 
        gap: 15px; 
        text-align: center; 
    }
    
    .links-sociais {
        margin-left: 0;
    }

    .open-to-work-banner {
        padding: 8px 0;
    }
    .open-to-work-content span {
        font-size: 1em; 
        margin-right: 30px;
    }
    @keyframes marquee {
        100% { transform: translateX(-80%); } 
    }

    .habilidades-container img {
        max-width: 90%; 
    }

    .habilidades-container {
        min-height: 400px; 
    }

    .secao-projetos {
        margin: 0 auto;
        padding: 0 15px;
    }
    .secao-projetos h2 {
        font-size: 22px;
    }
    .secao-projetos > p {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .secao-projetos article {
        padding: 25px;
        margin-bottom: 30px;
    }
    .secao-projetos h3 {
        font-size: 1.5em;
    }
    .secao-projetos article > p {
        font-size: 0.95em;
    }





    
    .bloco-flex-rosa {
        flex-direction: column; /* empilhar texto e foto */
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .bloco-texto {
        width: 100%;
        color:#121212
    }

    .bloco-imagem-diagrama {
        width: 90%; 
        max-width: 300px; 
        height: 250px;
        margin: 0 auto;
    }

    .post-item {
        flex-direction: column; 
        gap: 15px;
        text-align: left;
    }

    .blog-item-imagem {
        order: -1;
        width: 100%;
        
        height: 180px;
    }

    .blog-item-conteudo {
        width: 100%;
    }

    .blog-list-item h4 {
        font-size: 1.3em;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .projetos-diferenciais {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1200px) {
    /* DESKTOP */
    .galeria-projetos {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

/* open to work */

:root {
    --open-work-bg-light: #ee4e91; 
    --open-work-bg-light2: #b641ac; 
    --open-work-bg-light3: #7a238b; 
}

.open-to-work-banner {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    box-sizing: border-box;
    text-align: center; 
    font-weight: bold;
    font-size: 11px;
    color: white; /* texto no banner */
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden; 
    white-space: nowrap; 
    padding: 5px 0;
    background-color: var(--open-work-bg-light); 
    animation: changeBackgroundColor 10s infinite alternate;
}

.open-to-work-content {
    display: inline-block; 
    white-space: nowrap;
    animation: marquee 40s linear infinite;
}

.open-to-work-content span {
    margin-right: 80px; 
    font-size: 1.2em;
    letter-spacing: 1px;
}

@keyframes changeBackgroundColor {
    0% { background-color: var(--open-work-bg-light); }
    33% { background-color: var(--open-work-bg-light2); }
    66% { background-color: var(--open-work-bg-light3); }
    100% { background-color: var(--open-work-bg-light); }
}

@keyframes marquee {
    0% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}

/* dark */

.dark-mode {
    --open-work-bg-dark: #ee4e91; 
    --open-work-bg-dark2: #b641ac;
    --open-work-bg-dark3: #7a238b; 
    
    .open-to-work-banner {
        animation: changeBackgroundColorDark 10s infinite alternate;
    }
}

@keyframes changeBackgroundColorDark {
    0% { background-color: var(--open-work-bg-dark); }
    33% { background-color: var(--open-work-bg-dark2); }
    66% { background-color: var(--open-work-bg-dark3); }
    100% { background-color: var(--open-work-bg-dark); }
}

/* PROJETOS */

.secao-projetos {
    width: 100%; 
    padding: 20px 0;
}

.secao-projetos p {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
}


.tecnologias {
    margin-bottom: 15px;
}

.tec {
    display: inline-block;
    background-color: #eee;
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-weight: 600;
}

.secao-projetos article {
    background-color: var(--cor-fundo-secundario); 
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(68, 64, 64, 0.08);
    transition: all 0.3s ease; 
    border: 1px solid var(--cor-borda); 
}

.secao-projetos article:hover {
    transform: translateY(-8px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.secao-projetos h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    color: var(--cor-acento); 
    margin-bottom: 10px;
    font-weight: 200;
}

.secao-projetos article > p { 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--cor-texto-primario);
    margin-bottom: 15px;
    text-align: left;
}

.link-projeto {
    margin-top: 18px; 
    flex-wrap: wrap;
    gap: 12px;
    display: flex;
}

.link-projeto a {
    display: inline-flex;
    align-items: center;
    background-color: #666; 
    color: white; 
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.95em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-demo:hover {
    background-color: var(--cor-acento); 
    transform: translateY(-2px);
}

.link-codigo:hover {
    background-color: var(--cor-acento);
    transform: translateY(-2px);
}









/* blog */


.fundo-rosa-blog { 
    background-color: #EBEBEB; /* fundo */
    padding: 120px 0; 
    width: 100vw; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}


.bloco-flex-rosa { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    /* centraliza o conteúdo */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}

/* estilo do texto */

.bloco-texto h1 {
    font-size: 32px;
    color: #121212;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bloco-texto p {
    font-size: 18px;
    color: #1e1e1e;
    margin-bottom: 40px;
}

/* estilo botão */

.bloco-texto button {
    background-color: #FF5397;
    color: white;
    padding: 16px 25px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* imagem menina com pc */

.menina-pc img{
    width: 300px;
    height: 450px; 
}

/* conteudo blog */

.secao-blog {
    max-width: 800px; 
    margin: 0 auto 80px auto;
}

.secao-blog h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--cor-texto-primario);

}

.post-item {
    display: flex; 
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid var(--cor-borda); 
    align-items: center; 
}

/* estilo dos artigos */

.blog-list-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.4;
}
.blog-list-item h4 a {
    color: var(--cor-texto-primario);
    text-decoration: none;
    transition: color 0.2s;
}
.blog-list-item h4 a:hover {
    color: var(--cor-acento);
}

.data {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.frase-blog {
    font-size: 1em;
    color: var(--cor-texto-secundario);
}

/* imagem do post */

.blog-item-imagem {
    flex-shrink: 0; /* impedir que a imagem encolha */
    width: 150px; 
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
}
.blog-item-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* decorações */

.highlight-quadrado, 
.highlight-linha {
    position: relative; /* a posição do elemento */
    display: inline-block;
}

.highlight-quadrado::after { /* ::after para a linha que passa por trás */
    content: ''; /* o conteúdo vazio é necessário para o elementos */
    position: absolute;
    width: 110%; /* largura */
    height: 120%; /* altura  */
    top: -10%; 
    left: -5%; 
    
    background-color: #C8E2FF;
    border-radius: 5px; /* bordas */
    transform: rotate(-2deg); 
    
    z-index: -1; /* pra deixar atrás do texto */
}

.highlight-linha::after { 
    content: '';
    position: absolute;
    width: 110%; 
    height: 140%; 
    bottom: -4px; /* posição abaixo da palavra */
    left: -4%;
    top: -10%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10'%3E%3Cpath d='M0,2 C10,10 20,10 30,1 S40,12 50,5 S60,1 70,8 S80,0 90,5 S100,10 100,10' stroke='%23F5FF68' stroke-width='3.5' fill='none' /%3E%3C/svg%3E"); /* pra mudar a ondulação, é so mudar os numeros depois da virgula no d='...' */
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 160%; 
    z-index: -1;
}







/*  animação dos binários */
.binary-tag {
    position: absolute; 
    z-index: 1;
    font-family: monospace; 
    font-size: 16px; 
    font-weight: bold;
    color: var(--cor-fundo-primario-transparente); 
    animation: flicker 4s ease-in-out infinite alternate;
}


:root {
    --cor-fundo-primario-transparente: rgba(207, 207, 207, 0.932);
}
.dark-mode {
    --cor-fundo-primario-transparente: rgba(119, 119, 119, 0.808);
}


@keyframes flicker {
    0% { opacity: 0.1; }
    50% { opacity: 0.8; } 
    100% { opacity: 0.1; }
}

/* posicionamento */

.bin-1 { top: 10%; right: 10%; animation-delay: 0s; }
.bin-2 { top: 90%; right: 5%; animation-delay: 1.5s; }
.bin-3 { bottom: 30%; right: 9%; animation-delay: 3s; }
.bin-4 { top: 80%; right: 10%; animation-delay: 1.5s; }
.bin-5 { bottom: 50%; right: 11%; animation-delay: 2.2s; }

.bin-6 { top: 20%; right: 20%; animation-delay: 1s; }
.bin-7 { top: 40%; right: 21%; animation-delay: 1.5s; }
.bin-8 { bottom: 40%; right: 20%; animation-delay: 3s; }
.bin-9 { top: 90%; right: 22%; animation-delay: 2.5s; }
.bin-10 { bottom: 85%; right: 22%; animation-delay: 2.2s; }


.bin-11 { top: 40%; right: 3%; animation-delay: 1s; }
.bin-12 { top: 30%; right: 5%; animation-delay: 1.5s; }
.bin-13 { bottom: 80%; right: 5%; animation-delay: 3s; }
.bin-14 { top: 70%; right: 5%; animation-delay: 1.5s; }
.bin-15 { bottom: 90%; right: 2%; animation-delay: 2.2s; }

.bin-16 { top: 5%; right: 11%; animation-delay: 3s; }
.bin-17 { top: 50%; right: 15%; animation-delay: 1.5s; }
.bin-18 { bottom: 10%; right: 13%; animation-delay: 3s; }
.bin-19 { top: 70%; right: 15%; animation-delay: 1.5s; }
.bin-20 { bottom: 60%; right: 14%; animation-delay: 2.2s; }














/* artigo */


.conteudo-principal {
    padding-top: 50px; 
    padding-bottom: 80px; 
}

.artigo-individual {
    max-width: 700px;
    margin: 0 auto; 
    padding: 0 15px;
}

.link-voltar {
    display: block;
    margin-bottom: 25px;
    color: var(--cor-acento); 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}
.link-voltar:hover {
    color: var(--cor-acento-dark);
}

.artigo-cabecalho h1 {
    font-size: 2.8em; 
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
    color: var(--cor-texto-primario);
}

.artigo-cabecalho .subtitulo {
    font-size: 1.2em;
    color: var(--cor-acento);
    margin-bottom: 15px;
    font-style: italic;
}

.artigo-cabecalho .meta-data {
    font-size: 0.9em;
    color: var(--cor-texto-secundario);
    margin-bottom: 40px; 
    border-bottom: 1px solid var(--cor-borda);
    padding-bottom: 10px;
}


/* corpo do texto  */

.artigo-corpo p {
    font-size: 1.15em; 
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--cor-texto-primario);
}


.imagem-artigo {
    margin: 40px 0;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagem-artigo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imagem-artigo figcaption {
    font-size: 0.85em;
    color: var(--cor-texto-secundario);
    padding: 10px;
    background-color: var(--cor-fundo-secundario); 
    border-top: 1px solid var(--cor-borda);
}


@media (max-width: 600px) {
    .artigo-cabecalho h1 {
        font-size: 2em; 
    }
    .artigo-cabecalho .subtitulo {
        font-size: 1em;
    }
    .artigo-corpo p {
        font-size: 1em;
    }
}









/* setinha que volta pro topo */

#scroll-to-top {
    display: none; 
    position: fixed;
    bottom: 25px; 
    right: 25px;
    z-index: 1000; 
    
    /* estilo botão */

    background-color: var(--cor-acento); 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: opacity 0.3s, visibility 0.3s;
}


#scroll-to-top.visible {
    display: block;
}

#scroll-to-top:hover {
    background-color: var(--cor-acento-dark); 
}








/* breadcrumbs */

#breadcrumbs {
    padding: 10px 0px; 
    max-width: 800px; 
    margin: 0 auto;
    margin-top: 10px; 
}


.breadcrumbs-home {
    font-size: 0.9em;
    color: #666;
}

.breadcrumbs-home a {
    text-decoration: none !important; 
    color: var(--cor-acento); 
}

.breadcrumbs-home a:hover {
    color: #ffffff;
}

.sep {
    margin: 0 5px; 
    color: #999; 
}












