<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfólio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Caroline Anjos</h1>
        <div class="container">
            <nav class="menu-navegacao">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </nav>
        </div>
</header>

<main class="conteudo-principal container">
    
    <section class="secao-blog">
    <h2>Blog Completo</h2>
    
    <article class="post-item blog-list-item">
        <div class="blog-item-conteudo">
            <h4><a href="arquivo/templates-arquivo.html">O #1 Mental Hack para Vencer a Síndrome do Impostor</a></h4>
            <p class="data">16 de Out. - 5 min de leitura | Caroline Anjos</p>
            <p class="snippet">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
        <div class="blog-item-imagem">
            <img src="../static/images/7027179.jpg" alt="Foto API">
        </div>
    </article>
    
    </section>

</main>