<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfólio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Caroline Anjos</h1>
        <div class="container">
            <nav class="menu-navegacao">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="certificados.html">Certificados</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </nav>
        </div>
</header>

    <main class="conteudo-principal container">
        
        <section class="secao-certificados">
            <h2>Certificados</h2>
            <p>Confira alguns dos meus trabalhos mais recentes, cobrindo desenvolvimento Front-end e Back-end.</p>

            <article class="certificado-card">
                <h3>Desenvolvimento Web Full-Stack</h3>
                <p class="instituicao">Rocketseat (Ignite)</p>
                <p class="detalhe">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="URL_DO_CERTIFICADO_OU_LINK_DO_CURSO" target="_blank" class="link-certificado">Ver Certificado</a>
            </article>

            </section>

    </main>

    </body>
</html>