<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfólio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="cabecalho">
        <div class="logo-site">
            <img src="../static/images/hand-drawn-ac-logo-design-template.png" alt="Logo">
            <h1>Caroline Anjos</h1>
        </div>
        <div class="container-header">
            <nav class="menu-navegacao">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="conteudo-principal container">
        
        <section class="apresentacao">
            <h2>Engenheira de software</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            <img src="../static/images/0_Girl_Woman.gif" alt="gif-garota" class="gif-destaque">
            
            <div class="container-diferenciais">
        
                <div class="diferencial-item">
                    <img src="../static/images/image1.jpg" alt="imagem de descrição 1">
                    <h3>Título 1</h3>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
                </div>
                
                <div class="diferencial-item">
                    <img src="../static/images/image2.jpg" alt="imagem de descrição 2">
                    <h3>Título 2</h3>
                    <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est.</p>
                </div>
                
                <div class="diferencial-item">
                    <img src="../static/images/image3.jpg" alt="imagem de descrição 3">
                    <h3>Título 3</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus. </p>
                </div>
                
            </div>
        </section>

        <section class="lista-posts">
            <h3>Últimos Posts & Destaques</h3>
            
            <article class="post-item">
                <h4><a href="post1.html">O #1 Mental Hack para Vencer a Síndrome do Impostor</a></h4>
                <p class="data">16 de Out. - 5 min de leitura</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </article>

            <article class="post-item">
                <h4><a href="projeto-api.html">Construindo uma API REST com Node.js e Express</a></h4>
                <p class="data">01 de Out. - Projeto</p>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit</p>
            </article>
            
        </section>
 
        <section class="newsletter">
            <h4>Fique por dentro das novidades!</h4>
            <form>
                <input type="email" placeholder="Seu email" required>
                <button type="submit">Inscreva-se</button>
            </form>
        </section>

    </main>

    <footer class="rodape">
        <div class="container">
            <p>&copy; 2025 Caroline Anjos. Todos os direitos reservados.</p>
            <div class="links-sociais">
                <a href="https://github.com/cataflor">GitHub</a> | <a href="www.linkedin.com/in/caroline-anjos-456a53268">LinkedIn</a>
            </div>
        </div>
    </footer>

    <script src="js/index.js"></script>
</body>
</html> 