<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfólio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="cabecalho">
        <div class="logo">
            <img src="../static/images/hand-drawn-ac-logo-design-template.png" alt="Logo">
            <div class="titulo">
                <h1>Caroline Anjos</h1>
            </div>
        </div>

        <div class="header menu-scrolling-container">
            <nav class="menu-navegacao" id="menu-principal">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    </ul>
            </nav>

        <button class="dark-mode-toggle" aria-label="Alternar modo escuro">
            <i class="fas fa-adjust"></i> 
        </button>
        </div>
    
    </header>

    <main class="container">

        <div class="open-to-work-banner">
            <div class="open-to-work-content">
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
                <span>OPEN TO WORK</span><span>★</span>
            </div>
        </div>
        
        <section class="apresentacao">
            <h2 class="nome-principal">
                CAROLINE, 
                <span class="profissao"> Engenheira de software </span>
            </h2>

        </section>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
        
        <div class="habilidades-container">
            <span class="tag tag-react">REACT</span>
            <span class="tag tag-github">GITHUB</span>
            <span class="tag tag-python">PYTHON</span>
            <span class="tag tag-javascript">JAVASCRIPT</span>
            <span class="tag tag-html">HTML</span>
            <span class="tag tag-css">CSS</span>
            <span class="tag tag-bootstrap">BOOTSTRAP</span>
            <span class="tag tag-git">GIT</span>
            <span class="tag tag-java">JAVA</span>
            <span class="tag tag-c">C</span>
            <span class="tag tag-springboot">SPRINGBOOT</span>
            <span class="tag tag-flask">FLASK</span>
            <span class="tag tag-mysql">MySQL</span>
            <img src="../static/images/meninagatinho.png" alt="Personagem com habilidades"> 
        </div>
        


            <div class="segunda-parte">
    
                <div class="coluna-texto">
                    <h2 class="segundo-titulo">
                        Designed to Help You Do More 
                        <span class="segundo-titulo-restante">
                            With Less Stress
                        </span>
                    </h2>
                </div>
                
                <div class="coluna-imagem">
                    <img src="../static/images/Frame 2.png" alt="Mockup" class="imagem-mockup">
                </div>
            </div>
            
            <div class="linha-separadora">
            <p class="texto-monitor">
                Ut enim ad minima veniam,
                <span class="texto-monitor2">
                    omnis voluptas
                </span>
                assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </p>
            </div>

            <h2>Projetos</h2>

            <div class="projetos-diferenciais">

                <div class="diferenciais-item">
                    <img src="../static/images/image 84.png" alt="imagem de descrição 1">
                    <h3>Título 1</h3>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
                </div>
                
                <div class="diferenciais-item">
                    <img src="../static/images/image 86.png" alt="imagem de descrição 2">
                    <h3>Título 2</h3>
                    <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est.</p>
                </div>
                
                <div class="diferenciais-item">
                    <img src="../static/images/image 88.png" alt="imagem de descrição 3">
                    <h3>Título 3</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus. </p>
                </div>
                
            </div>
            <a href="projetos.html">
                Ver mais projetos
            </a>

        </section>
    </main> 

        <div class="post">
            <section class="lista-posts">
                <h3>Últimos Posts & Destaques</h3>
                <div class="post-item">
                    <h4><a href="#">#1 Mental Hack para Vencer a Síndrome do Impostor</a></h4>
                    <p class="data">18 de Outubro de 2023</p>
                    <p class="frase-post">Você já se sentiu como uma fraude, mesmo com suas conquistas?</p>
                    <span class="tags-index">Produtividade</span>
                    <span class="tags-index">Carreira</span>
                </div>
                <div class="post-item">
                    <h4><a href="#">#1 Mental Hack para Vencer a Síndrome do Impostor</a></h4>
                    <p class="data">18 de Outubro de 2023</p>
                    <p class="frase-post">Você já se sentiu como uma fraude, mesmo com suas conquistas?</p>
                    <span class="tags-index">Produtividade</span>
                    <span class="tags-index">Carreira</span>
                </div>
            </section>
            
            <section class="newsletter">
                <h4>Fique por Dentro!</h4>
                <p>Receba as últimas novidades e dicas diretamente na sua caixa de entrada.</p>
                <form>
                    <input type="email" placeholder="Seu e-mail">
                    <button type="submit">Inscreva-se</button>
                </form>
            </section>

        </div> 
        <footer class="rodape">
            <div class="container-rodape">
                <p>&copy; 2025 Caroline Anjos. Todos os direitos reservados.</p>
                <div class="links-sociais">
                    <a href="https://github.com/cataflor">GitHub</a> | <a href="www.linkedin.com/in/caroline-anjos-456a53268">LinkedIn</a>
                </div>
            </div>
        </footer>
        <button id="scroll-to-top" title="Voltar ao Topo">
            <i class="fas fa-chevron-up"></i>
        </button>    
    <script src="../index.js"></script>
</body>
</html>